$color-primary: #777;
$color-secondary: #616161;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-family: "Lato", sans-serif;
    color: $color-primary;
    line-height: 1.8;
    font-size: 62.5%;
}

p, 
li,
a {
    font-size: 1.5rem;
}

h2 {
    letter-spacing: 10px;
    font-size: 3.6rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}



.container {
    padding: 6.4rem 1.6rem;
    max-width: 98rem;
    margin: 0 auto;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// HEADER /////////////////////////////////////////////////////////////////

header {
    position: relative;
    height: 100vh;
    background-image: url("/media/parallax1.jpg");
    opacity: .75;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;


    &__list {
        display: flex;

        &-item {
            list-style: none;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            a {
                text-decoration: none;
                color: $color-secondary;
            }

            i {
                margin-right: .1rem;
            }
        }
    }

    i {
        color: $color-secondary;
    }

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: .5rem 1.5rem;
    background-color: black;
    color: white;
    letter-spacing: 10px;
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    span { display: none }
}

.love {
    font-style: italic;
    text-align: center;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// ABOUT SECTION /////////////////////////////////////////////////////////////////

.about {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;

    .name {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            margin-right: 1rem;
        }
    }

    .paragraph-2 {
        display: none;
    }

    .avatar_hat {
        width: 90%;
        margin: 2rem auto;
        opacity: .6;
    }

    .good-at {
        font-size: 1.8rem;
        text-align: center;
    }

    .progress {
        display: flex;
        flex-direction: column;

        &__label {
            letter-spacing: 10px;
        }

        &__bar-container {
            background-color: rgba(0,0,0,.1);
            position: relative;
            height: 3rem;
            margin: 1.5rem 0;

            .progress__bar {
                background-color: $color-secondary;
                height: 100%;
                position: absolute;
                display: flex;

                &--1 {
                    width: 90%;
                }

                &--2 {
                    width: 85%;
                }

                &--3 {
                    width: 75%;
                }

                justify-content: center;
                align-items: center;
                color: white;
                font-size: 1.5rem;
                
            }
                
        }
    }
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// STATS /////////////////////////////////////////////////////////////////

.stats {
    background-color: $color-secondary;
    color: white;
    padding: 2rem 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;

        &-num {
            font-size: 2.4rem;
        }

        &-title {
            font-size: 1.5rem;
        }
    }
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// PORTFOLIO /////////////////////////////////////////////////////////////////

.portfolio {


    &__parallax {
        min-height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url("/media/parallax2.jpg");
        background-size: cover;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .7;
    }

}

.my-work {
    text-align: center;

    h3 {
        margin-bottom: 2rem;
    }

    p {
        font-style: italic;
    }
}

.portfolio__gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    margin-top: 4rem;

    &--img {
        width: 95%;
        margin: 0 auto;
    }
}

.load-more {
    background-color: rgba(0,0,0,.1);
    margin: 5rem auto;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border: none;
    text-transform: uppercase;
}